*, 
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.header {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 24px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 21px 48px;
    flex-shrink: 0;
}

.links {
    display: flex;
    gap: 8px;
    font-size: small;
}

.content {
    height: 100vh;
}

content > div {
    flex: 1;
}

li {
    list-style-type: none;
}

.about-page {
    background-color: #1f2937;
    color: #e5e7eb;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    gap: 32px;
    padding: 21px 48px;
    flex-shrink: 0;
}

.about-page .container{
    font-weight: 800px;
    font-size: 48px;
}

.about-page > .container .text {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    flex-shrink: 0;

    font-size: 16px; 
    padding: 10px 20px;
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
}

img.placeholder{
    max-height: 200px;
    max-width: 600px;
    display: flex;
    flex: 1;
}

.information {
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 52px;

    gap: 32px;
    padding: 21px 56px;
    flex-shrink: 0;
}

.subheader {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-style: italic;
    flex: 1;
    padding: 56px;
}

.author {
    align-self: flex-end;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
}

.advertisement {
    display: flex;
    justify-content: space-around;
    gap: 64px;
    background-color: #3882f6;
    color: #e5e7eb;
    margin: 56px;
    padding: 24px 32px;
    border-radius: 4px; 
}

.advertisement > button {
    background-color: #3882f6;
    border-color: white;
    color: #e5e7eb;
    flex-shrink: 0;

    font-size: 16px; 
    padding: 10px 20px; 
    border-radius: 4px; 
    cursor: pointer;
}


.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 24px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 48px;
    flex-shrink: 0;
}
